

.body{
	background-color: #02153D; 	
}
.body2{
	background-color: #F6F6F6; 	
}

.barraNavegacao{
	background-color: #02153D; 
}

.barraNavegacao2{
	background-color: #EBF0F6; 
}
.footer{
	background-color: #02153D;
}

.perfil{
	background-color: #EEF6F8;
	margin-top: 25px;
	margin-bottom: 25px;
	top: 60px;
	bottom: 60px;
	padding-bottom: 25px;
    padding-top: 25px;
    vertical-align: center;
    box-shadow: 0 .3em 1em #000;
}

.labelFooter{
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #FFFFFF; 	
}

.itensNavbar{
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #02153D; 
}

.titulo{
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: #02153D; 
	text-align: center;
	letter-spacing: 0.5px;
}

.texto{
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #02153D; 
}

.ColLogin{

    top: 90px;
	background-color: #FFFFFF;
    padding-bottom: 25px;
    padding-top: 25px;
    vertical-align: center;
    box-shadow: 0 .3em 1em #000;

}

.btnLogin{
	background-color: #02153D;
	color: #FFFFFF; 

}


